{%extends 'base.html'%} {%import 'macros.html' as macro%} {%block content%}
<div class="container">
  <div class="card-header" style="color: rgb(253, 143, 0)">
    <h3 style="text-align: center">PITCH CLASSIFICATIONS</h3>
    <br />
    <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#business"
          >Business</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#interview">Interview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pickupline">Production</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#promotion">promotion</a>
      </li>
      <li>
        <a href="#"></a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="business" class="container tab-pane active">
        <br />
        {{ macro.display(business_pitch) }}
      </div>
      <div id="interview">
        <br />
        {{ macro.display(interview_pitch) }}
      </div>
      <div id="pickupline">
        <br />
        {{ macro.display(alineforyourcrush)}}
      </div>
      <div id="promotion">
        <br />
        {{ macro.display(promotion_pitch) }}
      </div>
    </div>
  </div>
</div>
{%endblock%}
