{% extends "bootstrap/base.html" %}
{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}

{% endblock %}

{% block content %}
  <div class="container">
    <form>
      <h3>Fill in login details to continue</h3>

      <label for="Password">Password</label>
      <input type="password" id="pass" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label type="checkbox" value="remember-me">Remember me</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
{% endblock %}
